.Header {
  text-align: center;
  border: 1px solid teal;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.Header__title {
  background-color: teal;
  color: white;
  padding-top: 8px;
  margin: 0;
}

.Header__subtitle {
  display: block;
  font-size: 75%;
  background-color: white;
  color: teal;
  padding: 8px;
}
